---
name: Terry Dwyer
profile: /img/CPSC-Logo-300x100.png
bio: Terrys bio
date: 2026-03-05
draft: false
tags:
  - another tag
  - learntoswim
---

<h1>{{ name }}</h1>

{{ bio }}

<img src="{{ profile }}" />

More info here about Terry Dwyer, this is the body field